/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Components design --- */
@import url("components/Contatos.css");
@import url("components/Banner.css");
@import url("components/Produtos.css");
@import url("components/Sobrenos.css");
@import url("components/Navbar.css");
@import url("components/Rodape.css");

{
	padding: 0px;
	font-size:18px; 
	text-decoration:none;
	color:#333;
	list-style:none;
	background: transparent; 
}
body{
	font-family: 'Open Sans', sans-serif;
	background: transparent !important; 
}