*
{
	margin: 0;
	padding: 0;
	background-color: white !important; 
}
body{
	font-family: sans-serif;
	background-color: white !important; 
}


/*inicio do nav-bar */
#nav-bar
{
	position:sticky;
	top: 0;
	z-index: 10;
	background-color: white !important;
	margin-right: 300px; 
	margin-left: 200px; 
}
	
}

.navbar-nav
{
background-color: rgba(0,0,0,0.5);

}

.navbar
{
	margin: 0px 0px 0px 0px !important;
	padding: 0px 10px!important;
	background-image: linear-gradient(to right, #0,0,0,0.5, #0,0,0,0.5);
}
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.navbar-brand img
{
	width: 200px;
	/*margin-left: 200px;*/ 
	background-color: rgba(0,0,0,0.5);
}
.navbar-brand{
	background-color: white !important;
}





.navbar-nav li a
{
	color: blue !important;
	font-weight: 600;
	font-size: 15px;




}



/*fim do nav-bar */

/*inicio do Banner*/
#banner
{
	background-image: linear-gradient(to right, #fff, #fff);
}

/*fim do Banner*/

/*inicio do Sobre nós*/

/*fim do Sobre nós*/