#sn
{
	background-color: #00599D;
	padding: 80px 0;
}

.sn h4
{
	margin-left: 75px;
	padding: 5px;
	margin-top: 20px;
	text-transform: uppercase;
	color: #A8CF38;
	font-size: 16px;

}
hr.linha1{
	border-top: 1px solid #8c8b8b;
	color:#000; 
	background-color:#000;
	border-color: white;
	width: 200px;
	float: left;
}

hr.linha2{
	border-top: 1px solid #8c8b8b;
	color:#000; 
	background-color:#000;
	border-color: white;
	width: 200px;
	float: left;
}
.sn h1
{
	margin-left: 80px;
	padding: 5px;
	margin-top: 20px;
	text-transform: uppercase;
	color: #A8CF38;
}

.sn p
{	margin-left: 80px;
	color: white;
}

.sn a:link
{	margin-left: 80px;
	color: #A8CF38;
	font-weight: bold;
}

.sn a:visited {
  color: #A8CF38;
}
 .snbtn
 {
 	color: #A8CF38;
 	align-content: center;
 }

 .button {
  background-color: #0081C3;
  border: 2px solid #000000;
  color: White;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  border-color: white;
}
.botao
{
	margin-left: 80px;
}
/fim do Sobre nós/