/*inicio do Sobre nós*/
#sn
{
	background-color: #00599D;
	padding: 80px 0;
}

.sn h4
{
	margin-left: 75px;
	padding: 5px;
	margin-top: 20px;
	text-transform: uppercase;
	color: #A8CF38;

}
hr.linha1{
	border-top: 1px solid #8c8b8b;
	 color:#000; 
	 background-color:#000;
	 border-color: white;
	 width: 200px;
	 float: left;
}

hr.linha2{
	border-top: 1px solid #8c8b8b;
	 color:#000; 
	 background-color:#000;
	 border-color: white;
	 width: 200px;
	 float: left;
}
.sn h1
{
	margin-left: 80px;
	padding: 5px;
	margin-top: 20px;
	text-transform: uppercase;
	color: #A8CF38;
}

.sn p
{	margin-left: 80px;
	color: white;
}

.sn a:link
{	margin-left: 80px;
	color: #A8CF38;
	font-weight: bold;
}

.sn a:visited {
  color: #A8CF38;
}
 .snbtn
 {
 	size: 20px;
 	padding: 5px 5px;

 	border-radius: 1000px;
 	border: 2px solid #FFFFFF;
 	background-color: #00599D;
 	text-align: center;
 	justify-content: center;
  	align-items: center;
  	 	margin-left: 80px;
 }

 .snbtn p
 {
 	font-weight: bold;
 	color: #FFFFFF;
 }

 .snbtn img
{	
	padding: 8px;
	height: 40px;
}
/*fim do Sobre nós*/